body.active-modal {
    overflow-y: hidden;
    background: #007bff !important;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2000;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    color: #00A6A9 !important;
    font-size: 1.2rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-evenly;
    background-image: linear-gradient(180deg, #00A6A9, #0c507c);
    border-radius: 20px;
    z-index: 2001;
}

.title{
    color: #fff !important;
    font-size: 2rem !important;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.field-container{
    width: 100%;
    min-height: 60px;
    max-height: 200px;
    display: flex;
    align-items: center;

    justify-content: center;
}

.field-name{
    font-size: 1.6rem;
    font-weight: 500;
    width: 50px;
    color: #fff;
}

.field-input{
    width: 100%;
    height: 36px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 0px;
    &:focus {
        border: none;
        outline: none;
    }
}

.modal-field-container{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.highlighted-day {
    background: #ffcc00 !important;
    color: white !important;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px;
    &:hover{
        background: #ffa600 !important;
    }
}
  

.calendar-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-button{
    border:none;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 11%;
    width: 20px !important;
    height: 20px !important;
    background-color: #fff !important;
}

.react-calendar {
    background: #000 !important; /* Nền màu đen */
    color: #fff; /* Chữ màu trắng */
    border: none;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.selected-day {
    background-color: #ff5c5c !important; 
    font-weight: bold;
    color: #fff;
    font-size: 1.4rem;
    margin: 5px;
    &:hover{
        background: #ff5c92 !important;
    }
  }

.today{
    background-color: #3a4dc9 !important; 
    font-weight: bold;
    color: #fff;
    font-size: 1.4rem;
    margin: 5px;
    &:hover{
        background: #925cff !important;
    }
}

.disabled{
    cursor: default !important;
    &:hover{
        background-color: #f0f0f0 !important;
    }
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    background: #00A6A9 !important;
    color: #000;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
}

.react-calendar__navigation button {
    
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background-color: violet !important;
    }
}
  
  .react-calendar__month-view__days {
    margin-top: 10px;
  }

.react-calendar__month-view__days__day {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.react-calendar__month-view__days__day--weekend {
    color: #ff6b6b; 
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #b5b5b5;
}

.react-calendar__tile {
    border-radius: 10px !important;
    background: #0c507c;
    color: white;
    border-radius: 10px;
}

.react-calendar__tile--active {
    background: #0c507c;
    color: white;
    border-radius: 10px;
}

.react-calendar__tile:hover {
    background: #007bff;
    color: white;
    border-radius: 10px;
}

.react-calendar__tile--now {
    background: #00A6A9 !important;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.react-calendar__month-view__weekdays {
    color: var(--primary) !important; /* Chữ màu đen */
    font-weight: bold; /* Tùy chọn: Làm cho chữ đậm hơn */
}


.glJkNE time-picker select{
    width: 50px !important;
}

.kCAYfl {
    color: #000 !important;
}
  