.wrapper {
    width: 100%;
    display: block;
    overflow: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content-wrapper {
    width: 80%;
    display: block;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

.blog-wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

.list-blog-wrapper {
    width: 480px;
    height: 100%;
    display: block;
    overflow: auto;
}

.list-blog-title {
    font-weight: 500;
    font-size: 3rem;
    margin: 0px;
    margin-top: 10px;
}

.list-blog-separator {
    border: none;
    height: 2px;
    background-color: #333;
    width: 100%;
}

.blog-title {
    width: 100%;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0px;
    margin-top: 10px;
    color: #005a5c;
}

.blog-info-wrapper {
    width: 100%;
    height: 40px;
    display: block;
    display: flex;
    align-items: center;
}

.blog-owner {
    font-size: 1.4rem;
    font-weight: 700;
    color: #2197e3;
    margin-left: 2px;
}

.blog-post-date {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 2px;
}

.blog-info-user-icon {
    font-size: 1.4rem;
    width: 24px;
}

.blog-info-calendar-icon {
    font-size: 1.4rem;
    width: 24px;
    margin-left: 100px;
}

.blog-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-description {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 5px 0px;
    color: #757575;
    width: 100%;
}

.blog-content {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 5px 0px;
    color: #757575;
    width: 100%;
}

.blog-image {
    width: 100%;
    height: 400px;
    margin: 10px 0px;
}

.comment-title-wrapper {
    width: 100%;
    height: 40px;
    display: flex;
}

.comment-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0px;
    margin-top: 10px;
}

.comment-section {
    width: 58%;
    height: 150px;
    margin-top: 20px;
    display: flex;

}

.img-wrapper{
    height: 100%;
    display: block;
    overflow: auto;
    width: 80px;
    min-width: 80px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    min-width: 80px;
}

.submit-comment-btn {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: #00D3D6; 
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 

    &:hover{
        background-color: #2197e3;
    }
}


.comment {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4rem;
    border: 2px solid #f0f1f2;
    &:focus {
        border: 2px solid #f0f1f2;
        outline: none;
    }
}

.comments{
    width: 58%;
    overflow: visible;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagination {
    margin-top: 20px;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-wrapper{
    display: flex;
    align-items: center;
}

// tablet (width>=740px) and (width<1024px)
@media only screen and (min-width: 740px) and (max-width: 1024px){
    
}

@media only screen and (max-width: 1024px) {
    .comment-section {
        width: 70%;
    }
    .comments {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .comment-section {
        width: 80%; 
    }
    .comments {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .comment-section {
        width: 90%; 
    }
    .comments {
        width: 90%;
    }
}

// mobile (width<740px)
@media only screen and (max-width: 740px) {
    .blog-info-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .blog-info-calendar-icon{
        margin-left: 0px;
    }
    .comment-section{
        width: 100%;
    }

    .comments{
        width: 100%;
    }
}
