.wrapper {
    width: 100%;
    display: block;
    overflow: visible;
    padding-bottom: 50px;
    background-color: #f0f2f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    overflow: visible;
}

.image-container {
    width: 100%;
    height: 240px;
    overflow: visible;
    position: relative;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-image-container {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    object-fit: contain;
    background-color: aqua;
    left: 10%;
    top: 54%;
}

.user-info-container{
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.contact-info-container{
    width: calc(100% - 237px);
    display: flex;
    justify-content: space-between;
    margin-left: 237px;
    gap: 10px;
    flex-wrap: wrap;
}

.contact-info{
    display: flex;
    display: block;
    overflow: visible;
    flex-direction: column;
    justify-content: space-between;
}

.user-name{
    margin-top: 10px;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    margin:0;
}

.phone-number{
    font-size: 1.4rem;
    font-weight: 500;
    margin:0;
}

.email{
    font-size: 1.4rem;
    font-weight: 500;
    margin:0;
}

.main-info-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: visible;
    gap: 10px;
}

.personal-info-container{
    width: 32%;
    height: 600px;
    margin-top: 20px;
    flex-shrink: none;
}

.doctor-info-container{
    width: 32%;
    height: 650px;
    margin-top: 20px;
}

.account-info-container{
    width: 32%;
    height: 500px;
    margin-top: 20px;
}

.info-title{
    color: #005A5C;
    font-size: 2.2rem;
    font-weight: 500;
}

.info-title-container{
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.field-container{
    width: 100%;
    min-height: 80px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manage-buttons-container {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field-name{
    font-size: 1.4rem;
    font-size: 500;
    margin-left: 10px;
    color: #005A5C;
}

.field-input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 0px;
    &:focus {
        border: none;
        outline: none;
    }
}

.field-textarea{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    &:focus {
        border: none;
        outline: none;
    }
}

.button-container{
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content-container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.half-field-input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 0px;
    &:focus {
        border: none;
        outline: none;
    }
}

.edit-buttons{
    width: 100%;
    overflow: visible;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.separator{
    width: 100%;
    height: 5px;
}
/* Ẩn thẻ input file gốc */
.file-input {
    display: none;
  }
  
  /* Nút button với icon */
  .file-label {
    display: inline-flex;
    align-items: center;
    background-color: #00D3D6; /* Màu nền button */
    color: white;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: calc(10% + 180px); /* Tọa độ trái của .profile-image-container + nửa width */
    top: calc(54% + 160px); /* Tọa độ trên của .profile-image-container + chiều cao */
    transform: translate(-50%, 10%); /* Tinh chỉnh */
  }
  
  .file-label:hover {
    background-color: #45a049;
  }
  
  .file-label i {
    margin-right: 8px; /* Khoảng cách giữa icon và văn bản */
  }
  
  .fa-upload {
    font-size: 18px;
  }

@media only screen and (max-width: 1024px){
    .main-info-container{
        flex-direction: column;
        align-items: center;
    }

    .personal-info-container{
        width: 50%;
    }

    .doctor-info-container{
        width: 50%;
    }

    .account-info-container{
        width: 50%;
    }
}

// mobile (width<740px)
@media only screen and (max-width: 740px) {
    .profile-image-container{
        width: 110px;
        height: 110px;
        top: 62%;
    }

    .buttons-container{
        justify-content: center;
    }

    .image-container{
        height: 160px;
    }

    .file-label{
        padding: 10px;
        left: calc(10% + 100px); /* Tọa độ trái của .profile-image-container + nửa width */
        top: calc(62% + 70px); /* Tọa độ trên của .profile-image-container + chiều cao */
    }

    .contact-info-container{
        margin-left: 130px;
        width: calc(100% - 130px);
    }

    .user-name{
        display: none;
        
    }
    .phone-number{
        display: none;

    }
    .email{
        display: none;
        
    }

    .personal-info-container{
        width: 100%;
    }

    .doctor-info-container{
        width: 100%;
    }

    .account-info-container{
        width: 100%;
    }
}
  