.blog-wrapper {
    height: 120px;
    width: 100%;
    display: block;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease; 
    border: 2px solid #f0f1f2;
    &:hover {
        transform: translateY(-10px);
        border: none; 
        box-shadow: 0 0 20px #9e9e9e;
    }
}

.blog-content {
    margin-left: 10px;
    width: calc(100% - 190px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blog-image {
    height: 100%;
    width: 100%;
    transition: all ease 0.8s;
    &:hover{
        transform: scale(1.2);
    }
}

.blog-image-wrapper{
    height: 100%;
    width: 180px;
    overflow: hidden;
}

.blog-title {
    font-weight: 500;
    font-size: 1.6rem;
    margin: 10px 0;
    line-height: 2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-description {
    font-weight: 500;
    font-size: 1.4rem;
    color: #b4b4b4;
    margin: 0;
    line-height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}
