@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #00a6a9;
    --black: #000;
    --white: #fff;
    --text-color: #333;
}

textarea {
    resize: none;
    padding-left: 5px;
}

input {
    padding-left: 5px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.6 rem;
    line-height: 1.5;
    margin: 0px;
}
